<!DOCTYPE html>
<html lang="en" class="__sans__">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/vite.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Temperature Converter</title>
    <script type="module" src="/src/main.ts"></script>
    <style>
      @font-face {
        src: url(/src/NunitoSans.ttf) format("truetype");
        font-family: "__FontSans";
        font-optical-sizing: auto;
        font-style: normal;
        font-variation-settings: "wdth" 100, "YTLC" 500;
        font-display: swap;
      }
      .__sans__ {
        --font-sans: "__FontSans";
      }
    </style>
  </head>

  <body class="antialiased font-sans text-slate-200 font-medium bg-slate-900">
    <div class="flex items-center min-h-svh w-full px-6">
      <main
        class="max-w-md w-full mx-auto px-4 py-8 md:px-6 bg-slate-800 rounded-lg"
      >
        <!-- hx-post="http://localhost:8080/api/v1/convert" -->
        <form
          hx-post="https://quicktemp.onrender.com/api/v1/convert"
          hx-target="#result"
          class="flex flex-col gap-6"
        >
          <h1 class="text-2xl lg:text-3xl font-bold text-white">
            Quick Temp 🌡️
          </h1>

          <p class="text-sm">
            Seamlessly to and from Celsius, Fahrenheit, and Kelvin with
            precision and convenience.
          </p>

          <fieldset
            class="grid gap-6 items-center px-2 py-4 grid-cols-[5ch,auto]"
          >
            <legend class="sr-only">Use the Select Menus to</legend>

            <label for="from_scale" class="text-lg cursor-pointer">From</label>
            <select
              name="from_scale"
              id="from_scale"
              class="px-3 py-2 rounded-md text-gray-900 w-full"
              autocomplete="off"
              required
            >
              <option value="celsius" selected>Celsius</option>
              <option value="fahrenheit">Fahrenheit</option>
              <option value="kelvin">Kelvin</option>
            </select>

            <label for="to_scale" class="text-lg cursor-pointer">To</label>
            <select
              name="to_scale"
              id="to_scale"
              class="px-3 py-2 rounded-md text-gray-900 w-full"
              autocomplete="off"
              required
            >
              <option value="celsius">Celsius</option>
              <option value="fahrenheit">Fahrenheit</option>
              <option value="kelvin" selected>Kelvin</option>
            </select>

            <label for="temperature" class="text-lg cursor-pointer">
              Degree
            </label>
            <input
              type="number"
              id="temperature"
              name="temperature"
              placeholder="Enter the temperature..."
              class="px-2.5 py-2 rounded-md text-gray-900 w-full"
              step="0.01"
              required
            />

            <p class="text-lg cursor-pointer">Result:</p>
            <div
              class="flex items-center justify-center bg-slate-900 py-3 px-2 rounded-sm"
            >
              <output
                name="result"
                id="result"
                for="from to temp"
                class="text-white"
              >
              </output>
            </div>
          </fieldset>

          <button
            type="submit"
            class="inline-flex mx-auto rounded-full bg-slate-900 px-5 py-2 items-center text-white cursor-pointer"
          >
            Convert
          </button>
        </form>
      </main>
    </div>
  </body>
</html>
